*.exe       binary
*.snk       binary
*.ico       binary

*.csproj    text   eol=crlf
*.config    text   eol=crlf
*.cs        text   eol=crlf
*.sln       text   eol=crlf
*.manifest  text   eol=crlf

README.md   text   eol=crlf